
# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

Base_models/output/
consistency_models_sd/pretrained/
consistency_models_sd/data/
